.map-container {
    width: 100%;
    height: 80vh;
  }
  
  .map {
    width: 100%;
    height: 100vh;
  }

  .rent-button {
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding-top: 6px; /* 調整這裡的數值以達到適合的上方偏移量 */
}


