.settings-container {
  display: flex;
  position: relative;
}

.settings-menu {
  width: 200px;
  position: relative;
  margin-top: 60px;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 100px;
}

.settings-menu-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.settings-menu-item:hover {
  background-color: #526D82;
}

.settings-menu-item.active {
  background-color: #025464;
}

.settings-content {
  flex: 1;
  padding: 20px;
}

.settings-content > div {
  display: none;
}

.settings-content > div.show {
  display: block;
}

.notification-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.notification-details {
  margin-bottom: 10px;
}

.notification-details h3 {
  margin: 0;
}

.notification-details p {
  margin: 5px 0;
}
