.settings-container {
  display: flex;
  position: relative;
}

.settings-menu {
  width: 200px;
  position: absolute;
  top: 60px;
  left: 0px;
  bottom: 0;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 100px;
}

.settings-menu-item {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.settings-menu-item:hover {
  background-color: #526D82;
}

.settings-menu-item.active {
  background-color: #025464;
}

.settings-content {
  flex: 1;
  padding: 20px;
  margin-left: 240px; /* Adjust this value as needed */
}

.settings-content > div {
  display: none;
}

.settings-content > div.show {
  display: block;
}
